@font-face {
  font-family: Averta-Bold;
  src: url(../fonts/Averta-Bold.ttf);
}
@font-face {
  font-family: Averta-Semibold;
  src: url(../fonts/Averta-Semibold.ttf);
}
@font-face {
  font-family: Averta-Regular;
  src: url(../fonts/Averta-Regular.ttf);
}
.font-averta-regular {
  font-family: Averta-Regular;
}
.font-averta-semibold {
  font-family: Averta-Semibold;
}
.font-averta-bold {
  font-family: Averta-Bold;
}
.background-gradient {
  background: linear-gradient(181deg,#f5f7fb 50%,#fff 63%);
}
.background-banner-image {
  background: url(../images/backgrounds/background_top.png) no-repeat top 75px center;
}
body {
    font-family: Averta-Regular;
    /* color: #5b6987; */
}
.navbar-height {
    line-height: 3;
}
.light-blue-bgcolor {
    background-color: #3369e8 !important;
}
.light-blue-color {
    color: #3369e8 !important;
}
.gray-color {
    color: #5b6987 !important;
}
.light-blue-color-h1 {
    color: #2d6adf;
}
.dark-blue-color {
    color: #031b4e !important;
}
.font-size-15 {
    font-size: 15px !important;
}
.font-size-30 {
    font-size: 30px !important;
}
.font-size-21 {
    font-size: 21px !important;
}
.nav-item-padding {
    padding: 0 16px !important;
}
.search-bar {
    margin-top: 35px;
    height: 60px;
}
input::placeholder {
    font-size: 18px;
    font-weight: 400;
}
.title-top-padding {
    padding-top: 168px;
}
.padding-30 {
    padding: 30px;
}
.padding-y-42 {
    padding: 42px 0;
}
.shadow-card {
    box-shadow: 0 3px 12px 0 rgba(104,113,134,.2);
}
.shadow-input {
    box-shadow: 0.954px 4.908px 9px 0 rgba(185,192,206,.5);
}
.card-subtxt {
    margin-top: 18px;
    margin-bottom: 25px;
}
@media (min-width: 576px) {
    .card-margin-top {
        margin-top: 40px;
    }
}
.card-container-margin-top {
    margin-top: 130px;
}
.services-padding {
    padding-top: 160px;
}
.nav-bg {
    background-color: #f5f7fb !important;
}
.services-card-padding {
    padding: 20px;
}
.p-top-margin {
    margin-top: 20px;
}
.services-margin-top {
    margin-top: 95px;
}
.video-padding-top {
    padding-top: 145px;
}
.bg-questions {
  background-color: #e8ecf7;
}
.bg-videos {
  background-color: #d3edd8;
  color: #009925;
}
.bg-articles {
  background-color: #fdf2dd;
  color: #eeb211;
}
.bg-resources {
  background-color: #fbe8ea;
  color: #d51329;
}
.bg-tools {
  background-color: #e5f3fb;
  color: #299de0;
}
.bg-topics {
  background-color: #eedbfb;
  color: #a73beb;
}
.featured-card-padding {
  padding: 23px 26px;
}
.featured-card-img {
  margin-right: 21px;
}
.light-divider {
  color: #e5e7ec;
}
.featured-top-padding {
  padding-top: 80px;
}
.seo-community-top-padding {
  padding-top: 125px;
}