@font-face {
  font-family: Averta-Bold;
  src: url(../fonts/Averta-Bold.ttf);
}
@font-face {
  font-family: Averta-Semibold;
  src: url(../fonts/Averta-Semibold.ttf);
}
@font-face {
  font-family: Averta-Regular;
  src: url(../fonts/Averta-Regular.ttf);
}
.font-averta-regular {
  font-family: Averta-Regular;
}
.font-averta-semibold {
  font-family: Averta-Semibold;
}
.font-averta-bold {
  font-family: Averta-Bold;
}
.background-gradient {
  background: linear-gradient(181deg,#f5f7fb 50%,#fff 63%);
}
.background-banner-image {
  background: url(../images/backgrounds/background_top.png) no-repeat top 75px center;
}
body {
    font-family: Averta-Regular;
    /* color: #5b6987; */
}
.navbar-height {
    line-height: 3;
}
.light-blue-bgcolor {
    background-color: #3369e8 !important;
}
.light-blue-color {
    color: #3369e8 !important;
}
.gray-color {
    color: #5b6987 !important;
}
.light-blue-color-h1 {
    color: #2d6adf;
}
.dark-blue-color {
    color: #031b4e !important;
}
.btn-setter {
  width: 62px; 
  height: 62px; 
  border-radius: 50%; 
  top: 50%; 
  left:50%; 
  margin-top:-83px; 
  margin-left:-33px;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-15 {
    font-size: 15px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-30 {
    font-size: 30px !important;
}
.font-size-21 {
    font-size: 21px !important;
}
.nav-item-padding {
    padding: 0 16px !important;
}
.search-bar {
    margin-top: 35px;
    height: 60px;
}
input::placeholder {
    font-size: 18px;
    font-weight: 400;
    font-family: Averta-Regular;
}
.newsletter-y-padding input::placeholder {
  font-size: 15px;
  font-weight: 400;
  font-family: Averta-Regular;
}
.title-top-padding {
    padding-top: 168px;
}
.padding-l-5 {
  padding-left: 5px;
}
.padding-30 {
    padding: 30px;
}
.padding-fix {
  padding: 21px 30px 22px 30px;
}
.padding-y-42 {
    padding: 42px 0;
}
.margin-top-20 {
  margin-top: 20px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-11 {
  margin-bottom: 11px;
}
.mt-17 {
  margin-top: 17px;
}
.btn-hover-effect:hover {
  background-color: #0046e9 !important;
}
.nav-toggle-btn:hover {
  background-color:#ececec;
}
.nav-toggle-btn:focus {
  outline: none !important;
}
.shadow-card {
    box-shadow: 0 3px 12px 0 rgba(104,113,134,.2);
    border-radius: 6px;
}
.shadow-input {
    box-shadow: 0.954px 4.908px 9px 0 rgba(185,192,206,.5);
}
.border-radius-4 {
  border-radius: 4px !important;
}
.border-radius-7 {
  border-radius: 7px !important;
}
.border-radius-top-8 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.border-radius-bottom-8 {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.border-radius-top-6 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.border-radius-bottom-6 {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.border-radius-8 {
  border-radius: 8px !important;
}
.padding-7-2 {
  padding: 2px 7px 2px 7px;
}
.card-subtxt {
    margin-top: 18px;
    margin-bottom: 25px;
}
@media (min-width: 576px) {
    .card-margin-top {
        margin-top: 40px;
    }
}
.card-container-margin-top {
    margin-top: 130px;
}
.services-padding {
    padding-top: 160px;
}
.nav-bg {
    background-color: #f5f7fb !important;
}
.services-card-padding {
    padding: 20px;
}
.p-top-margin {
    margin-top: 20px;
}
.services-margin-top {
    margin-top: 97px;
}
.video-setter {
    padding-top: 114px;
    background: url(../images/backgrounds/background_between.png) no-repeat top 14px center;
}
.bg-questions {
  background-color: #e8ecf7;
}
.bg-videos {
  background-color: #d3edd8;
  color: #009925;
}
.bg-articles {
  background-color: #fdf2dd;
  color: #eeb211;
}
.bg-resources {
  background-color: #fbe8ea;
  color: #d51329;
}
.bg-tools {
  background-color: #e5f3fb;
  color: #299de0;
}
.bg-topics {
  background-color: #eedbfb;
  color: #a73beb;
}
.featured-card-padding {
  padding: 23px 26px;
}
.featured-card-img {
  margin-right: 21px;
}
.light-divider {
  color: #e5e7ec;
}
.featured-top-padding {
  padding-top: 70px;
}
.seo-community {
  padding-top: 120px;
  padding-bottom: 25px;
  background: linear-gradient(181deg,#fff 33%,#f5f7fb 66%);
}
.featured-card-margin {
  margin-left: 36px;
  margin-bottom: 50px;
}
.featured-card-repeat-padding {
  padding: 50px 50px 50px 75px;
}
.mb-50 {
  margin-bottom: 50px;
}
.icon-position-left {
  position: absolute;
  left: -12px;
  top: 22px;
}
.icon-position-right {
  position: absolute;
  left: -4px;
  top: 22px;
}
.featured-card-padding:hover {
  box-shadow: -6px 0 24px 0 rgba(104,113,134,.15);
}
.featured-card-padding:hover > div > a > p {
  color: #2d6adf !important;
}
.featured-card-repeat-margin {
  margin-top: 77px;
}
.padding-40 {
  padding: 40px 40px 0 40px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.girl-img {
  max-width: 100%;
}
.all-about-seo-top-padding {
  padding-top: 80px;
}
.latest-y-padding {
  padding-top: 70px;
  padding-bottom: 80px;
}
.newsletter-checkbox-padding {
  padding: 0 13px;
}
.footer-setter {
  padding-top: 90px;
  padding-bottom: 44px;
  background: url(../images/backgrounds/background_bottom.png) no-repeat top 80px center;
}
.custom-control-label {
  padding-left: 8px;
}
.custom-control-label::before {
  width: 20px !important;
  height: 20px !important;
  vertical-align: middle !important;
  top: 0 !important;
  outline: none !important;
}
.custom-checkbox:hover > .custom-control-label::before {
  box-shadow: 0 0 7px grey;
}
.custom-control-input:checked~.custom-control-label::before {
  background-color: #3369e8 !important;
}
.custom-control-input:not(:checked)~.custom-control-label::before {
  border: 3px solid #e1e3e7 !important;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 1px !important;
}
.custom-control-label::after {
  width: 20px !important;
  height: 20px !important;
  top: 0 !important;
}

.my-30 {
  margin: 30px 0;
}
.my-35 {
  margin: 35px 0;
}
.px-40 {
  padding: 0 40px 0 40px !important;
}
.px-20 {
  padding: 8px 22px !important;
}
.be-social-fa-icon-font-size {
  font-size: 27px !important;
  padding-right: 10px;
}
.newsletter-y-padding {
  padding: 67px 0 67px 0;
  background: url(../images/newsletter-bg.png) no-repeat top center;
}
.newsletter-background {
  background-color: #f5f7fb;
}
.arrow-color {
  color: #a3a7b4 !important;
}
.dot {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border-radius: 50% !important;
  text-align: center;
}
.dot:hover {
  background-color: #e5e7ec;
}
.page-box-border {
  border: 1px solid #e5e7ec !important;
  border-radius: 6px;
}
.disabled-dot {
  pointer-events: none;
}
#id-pagination-input {
  width: 40px;
  height: 40px;
}
#id-pagination-data .d-none {
  display: none !important;
}
#id-pagination-nav .page-item.active .page-link {
  background-color: #3369e8 !important;
  color: #d6def9 !important;
}
#id-pagination-nav .page-link:hover {
  background-color: #e5e7ec !important;
}
#id-pagination-nav > ul > li > a {
  color: #031b4e !important;
}
